<h1>Register</h1>
<!-- Show this div (message) only if vm.message exists -->
    <div ng-if="vm.message" class="alert alert-success" role="alert">
        <p>{{vm.message}}</p>
    </div>

<!-- Show this div (error) only if vm.error exists -->

    <div ng-if="vm.error" class="alert alert-danger" role="alert">
        {{vm.error}}
    </div>

<!-- when submitted, this form calls vm.register() function in register-controller.js -->
    <form ng-hide="vm.message" name="register"ng-submit="vm.register()">
        <div class="form-group">
            <label for="name"> Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.name" autocapitalize="none">
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.username"autocapitalize="none">
        </div>

        <div class="form-group">
            <label for="password"> Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.password" autocapitalize="none">
        </div>



        <div class="form-group">
            <label for="password-repeat">Repeat Password</label>
            <input type="password" class="form-control" id="password-repeat" placeholder="Password" ng-model="vm.passwordRepeat" autocapitalize="none">
        </div>

        <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="company" placeholder="Company" ng-model="vm.company"autocapitalize="none">
        </div>

        <button type="submit" class="btn btn-success">Register</button>
    </form>