<!-- Note ** the controller for this html page is declared here.....login-controller.js ***  -->

<nav ng-controller="LoginController as vm" class="navbar navbar-default navbar-fixed-top" ng-init="vm.init()">

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                <img class="logo" src="../../images/logo2.png">
                Secur
            </a>

            <a ng-class = "vm.isActiveTab('')" class="active item" href="#/">Home</a>
            <a class = "item" ng-class = "vm.isActiveTab('profile')" href="#!/profile" >
                Profile
            </a>
            <a class="item" ng-class = "vm.isActiveTab('register')" href="#!/register" >
                Register
            </a>
            <a class="item"  ng-if ="!vm.isLoggedIn && vm.loggedInUser == 'admini@gmail.com'" href="#!/admin" >
                Admin
            </a>
            <div class="ui simple dropdown item">
                Sessions <i class="dropdown icon" ></i>
                <div class="menu">
                    <a class="item" ng-class = "vm.isActiveTab('sessions')"href="#!/sessions">All Sessions</a>
                    <a class="item" href="#">Link Item</a>
                    <div class="divider"></div>
                    <div class="header">Header Item</div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Sub Menu
                        <div class="menu">
                            <a class="item" href="#!/sessions">All Sessions</a>
                            <a class="item" href="#">Home</a>
                        </div>
                    </div>
                    <a class="item" href="#">Link Item</a>
                </div>
            </div>
        </div>
        <div class="right menu">

            <form ng-if="!vm.isLoggedIn()" ng-submit="vm.login()" role="login">
            <div class="ui input error" ng-class="{'has-error':vm.error}" >
                <input type="text" placeholder="Username..." ng-model="vm.username">
            </div>
            <div class="ui input error"  >
                <input type="password" placeholder="Password..." ng-model = "vm.password">
            </div>
            <button class="ui button"  type = "submit"></button>

            </form>

            <ul ng-if = "vm.isLoggedIn()">

                <li> <button class="ui button" ng-if = "vm.isLoggedIn()" ng-click="vm.logout()">Logout</button> </li>

            </ul>




        </div>
    </div>
</nav>













