<div class="ui three column very relaxed grid">
    <div class="column">
        <p>
            <button class="ui medium olive left  button" ng-click="vm.Graph1()"><img class="ui avatar image" src="../../images/logo2.png">
                <span>Indications that attention is required</span></button>

        </p>

    </div>

    <div class="column">
        <p><button class="ui medium yellow   button" ng-click="vm.SortandGraph1()"><img class="ui avatar image" src="../../images/logo2.png">
            <span>Indications that attention is required - sorted order</span></button></p>

    </div>

    <div class="column">
        <p><button class="ui medium purple  button" ng-click="vm.Graph2()"><img class="ui avatar image" src="../../images/logo2.png">
            <span>Comparison with reference scenario</span></button></p>

    </div>
</div>







<div class = "ui segment">
    <button class="ui medium pink  button" ng-click="vm.Graph3()"><img class="ui avatar image" src="../../images/logo2.png">
        <span>Line chart</span></button>
</div>


<!--<canvas id="myChart" width="400" height="200"></canvas> -->


<!--<canvas id="myChart2" width="400" height="200"></canvas> -->




<div>
    <canvas id="myChart"></canvas>
</div>
<p id="caption">The chart is displaying apples & oranges</p>







