






<div class="ui left  visible sidebar inverted vertical menu" >


    <div class="item">
        <div class="ui black big left attached fixed button"  ng-click="vm.objectButton()">Objects</div>
    </div>
    <div class="item">
        <div class="ui black big left attached fixed button"  ng-click="vm.peopleButton()">People</div>
    </div>
    <div class="item">
        <div class="ui black big left attached fixed button"  ng-click="vm.locationButton()">Location</div>
    </div>
    <div class="item">
        <div class="ui black big left attached fixed button"  ng-click="vm.surroundingsButton()">Surroundings</div>
    </div>
    <div class="item">
        <div class="ui black big left attached fixed button"  ng-click="vm.measuresButton()">Measures</div>
    </div>



</div>
 <div class="pusher">
    <!-- Site content !-->
    <div class ="ui grid">

        <div class="twelve wide column">


    <form class="ui form  segment  " name="vm.addForm" ng-submit="vm.updateSession()">
        <h2 class="ui dividing header">Assessement Details: </h2>


            <div class="field">
                <label>Name of the Assessement: </label>
                <div class="field">
                    <div class="eight wide field">
                        <input type = "text" name="name" required ng-minlength="2" ng-model="vm.session.name"/>
                    </div>

                </div>
            </div>

        <div class="field">
            <label>Description of objects under consideration:  </label>
            <div class="field">
                <div class="eight wide field">
                    <input type="text" name="description" required ng-model="vm.session.objectDescription"/>
                </div>

            </div>
        </div>

        <div class="field">
            <label>Description of the information and versions used for the assessement:  </label>
            <div class="field">
                <div class="eight wide field">
                    <input type="text" name="informationDescription" required ng-model="vm.session.informationDescription">
                </div>

            </div>
        </div>
        <div class="two fields">
        <div class="five wide field">
            <label>Timestamp: {{vm.session.timestamp | date :'medium'}} </label>

        </div>
            <div class="field">

                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0"  ng-model="vm.today" ng-true-value="'true'">
                            <label>Use current date/time?</label>
                        </div>
                    </div>

            </div>

        </div>


    <div ng-show="vm.showObjectQuestions">
        <h3> Objects:</h3>


        <div class="field">
            <label>Are there residences?</label>
            <div class="two fields">

                <div class="four wide field">
                    <select name="objectQuestions.answer1"   ng-model="vm.session.objectQuestions.answer1" ng-options="x for x in vm.choices" />
                </div>

                <div class="twelve wide field">
                    <input type="text" name="objectQuestions.comments1"  ng-model="vm.session.objectQuestions.comments1" >
                </div>
            </div>
        </div>


        <div class="field">
            <label> Are more than 10% of the residences single family detached homes?</label>
            <div class="two fields">

                <div class="four wide field">
                    <select name="objectQuestions.answer2"   ng-model="vm.session.objectQuestions.answer2" ng-options="x for x in vm.choices"  />
                </div>

                <div class="twelve wide field">
                    <input type="text" name="objectQuestions.comments2"  ng-model="vm.session.objectQuestions.comments2" >
                </div>
            </div>
        </div>
    </div>

        <div ng-show="vm.showPeopleQuestions">
            <h3> People:</h3>


            <div class="field">
                <label>Are tourists expected in the public space?</label>
                <div class="two fields">

                    <div class="four wide field">
                        <select name="peopleQuestions.answer27"   ng-model="vm.session.peopleQuestions.answer27" ng-options="x for x in vm.choices"/>
                    </div>

                    <div class="twelve wide field">
                        <input type="text" name="peopleQuestions.comments27"  ng-model="vm.session.peopleQuestions.comments27" >
                    </div>
                </div>
            </div>


            <div class="field">
                <label>Is the expected number of disabled women higher than average? </label>
                <div class="two fields">

                    <div class="four wide field">
                        <select name="peopleQuestions.answer28"   ng-model="vm.session.peopleQuestions.answer28" ng-options="x for x in vm.choices"/>
                    </div>

                    <div class="twelve wide field">
                        <input type="text" name="peopleQuestions.comments28"  ng-model="vm.session.peopleQuestions.comments28" >
                    </div>
                </div>
            </div>
        </div>


            <div ng-show="vm.showLocationQuestions">
                <h3> Location:</h3>


                <div class="field">
                    <label>Is the area located in a suburban area or close to an access route to the city/town?  </label>
                    <div class="two fields">

                        <div class="four wide field">
                            <select name="locationQuestions.answer32"   ng-model="vm.session.locationQuestions.answer32" ng-options="x for x in vm.choices"/>

                        </div>

                        <div class="twelve wide field">
                            <input type="text" name="locationQuestions.comments32"  ng-model="vm.session.locationQuestions.comments32" >
                        </div>
                    </div>
                </div>


                <div class="field">
                    <label>Is there a large amount of (expected) passing traffic? </label>
                    <div class="two fields">

                        <div class="four wide field">
                            <select name="locationQuestions.answer33"   ng-model="vm.session.locationQuestions.answer33" ng-options="x for x in vm.choices"/>

                        </div>

                        <div class="twelve wide field">
                            <input type="text" name="locationQuestions.comments33"  ng-model="vm.session.locationQuestions.comments33" >
                        </div>
                    </div>
                </div>
            </div>

        <div ng-show="vm.showSurroundingsQuestions">
            <h3> Surroundings:</h3>


            <div class="field">
                <label>Is there an increased level of burglary within 4km of the object?   </label>
                <div class="two fields">

                    <div class="four wide field">
                        <select name="surroundingsQuestions.answer39"   ng-model="vm.session.surroundingsQuestions.answer39" ng-options="x for x in vm.choices"/>

                    </div>

                    <div class="twelve wide field">
                        <input type="text" name="surroundingsQuestions.comments39"  ng-model="vm.session.surroundingsQuestions.comments39" >
                    </div>
                </div>
            </div>


            <div class="field">
                <label>Is there an increased level of ram-raiding within 5km?</label>
                <div class="two fields">

                    <div class="four wide field">
                        <select name="surroundingsQuestions.answer40"   ng-model="vm.session.surroundingsQuestions.answer40" ng-options="x for x in vm.choices"/>

                    </div>

                    <div class="twelve wide field">
                        <input type="text" name="surroundingsQuestions.comments40"  ng-model="vm.session.surroundingsQuestions.comments40" >
                    </div>
                </div>
            </div>
        </div>



        <div ng-show="vm.showMeasuresQuestions">
            <h3> Measures:</h3>

            <h5>Is there an adequate level (regarding quality and time coverage) of surveillance (either natural or by dedicated observers)? </h5>
            <div class="field">
                <label>On residences?   </label>
                <div class="two fields">

                    <div class="four wide field">
                        <select name="measuresQuestions.answer51"   ng-model="vm.session.measuresQuestions.answer51" ng-options="x for x in vm.choices"/>

                    </div>

                    <div class="twelve wide field">
                        <input type="text" name="measuresQuestions.comments51"  ng-model="vm.session.measuresQuestions.comments51" >
                    </div>
                </div>
            </div>


            <div class="field">
                <label>On shops?</label>
                <div class="two fields">

                    <div class="four wide field">
                        <select name="measuresQuestions.answer52"   ng-model="vm.session.measuresQuestions.answer52" ng-options="x for x in vm.choices"/>

                    </div>

                    <div class="twelve wide field">
                        <input type="text" name="measuresQuestions.comments52"  ng-model="vm.session.measuresQuestions.comments52" >
                    </div>
                </div>
            </div>
            <div class="field">
                <label>What is your protection against assault?  </label>
                <div class="two fields">

                    <div class="eight wide field">
                        <select name="measuresQuestions.answer69"   ng-model="vm.session.measuresQuestions.answer69" ng-options="x for x in vm.assault"/>

                    </div>

                    <div class="eight wide field">
                        <input type="text" name="measuresQuestions.comments69"  ng-model="vm.session.measuresQuestions.comments69" >
                    </div>
                </div>
            </div>


            <div class="field">
                <label> What is your protection against Vandalism? </label>
                <div class="two fields">

                    <div class="eight wide field">
                        <select name="measuresQuestions.answer71"   ng-model="vm.session.measuresQuestions.answer71" ng-options="x for x in vm.assault"/>

                    </div>

                    <div class="eight wide field">
                        <input type="text" name="measuresQuestions.comments71"  ng-model="vm.session.measuresQuestions.comments71" >
                    </div>
                </div>
            </div>

        </div>




<button type="submit"class="ui bottom attached button">Update assessement</button>


</form>

<h3>Delete Assessement</h3>

<form name="vm.delForm" ng-submit="vm.deleteSession()">
    <button type="submit"class="ui button">Delete Assessement</button>
</form>

</div>


</div>
</div>














